
@{
    ViewBag.Title = "Cari Materi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
    <div class="form-group flex-fill">
        <label for="search" class="sr-only">Cari materi</label>
        <input type="text" name="query" class="form-control" id="search" placeholder="Judul materi" style="width: 100%" />
    </div>
    <button type="submit" class="btn btn-primary ml-2"><i class="fas fa-search"></i>Cari</button>
}

    <hr />

    <div>
        @if (ViewBag.data != null && ViewBag.Error == null)
        {
            for (int i = 0; i < ViewBag.data.Count; i++)
            {
                <div class="card rounded-lg">
                    <div class="d-flex align-items-center p-3">
                        <div>
                            <i class="fas fa-user-circle fa-3x"></i> <!--Use image-->
                        </div>
                        <div class="ml-3">
                            <span>@ViewBag.data[i].author</span><br />
                            <span class="text-muted">@ViewBag.data[i].timestamp</span>
                        </div>
                        <div class="dropdown ml-auto">
                            <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Unduh</a>
                                <a class="dropdown-item" href="#">Sunting</a>
                                <a class="dropdown-item" href="#">Hapus</a>
                            </div>
                        </div>
                    </div>
                    <div class="pt-2 px-3">
                        <strong> @ViewBag.data[i].title</strong>
                        <br />
                        <p>@ViewBag.data[i].description</p>
                        <br />
                        <p>@Html.ActionLink("Link web", "Click", "Content", new { link = ViewBag.data[i].link }, null)</p>
                        <div class="d-flex align-items-center mt-1">
                            <div class="mr-3">
                                <a href="@Url.Action("Like", "Interaction", new { contentid = ViewBag.data[i].postid })"><i class="fas fa-thumbs-up"></i></a> @ViewBag.data[i].likecount
                            </div>
                            <div class="mr-3">
                                <i class="fas fa-eye"></i> @ViewBag.data[i].downloadcount
                            </div>
                            <div>
                                <a href="@Url.Action("Share", "Interaction", new { contentid = ViewBag.data[i].postid })"><i class="fas fa-share-alt"></i></a> @ViewBag.data[i].sharecount
</div>
                        </div>
                    </div>
                    <hr />
                    <div class="px-3 d-flex pb-3 align-items-center">
                        <div>
                            <i class="fas fa-user-circle fa-3x"></i> <!--Use image-->
                        </div>
                        <div class="input-group ml-3">
                            @using (Html.BeginForm("comment", "Interaction", new { cententid = ViewBag.data[i].postid }, FormMethod.Post, new { @class = "flex-fill" }))
                            {
                                <textarea class="form-control" placeholder="Komentar" aria-label="Komentar" aria-describedby="button-addon" style="height: 38px;"></textarea>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                                        <i class="fas fa-chevron-circle-right"></i>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p> @ViewBag.Error </p>
        }
    </div>


