@model Bank_Ilmu.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Style/StyleLogin.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <title>Daftar - Bank Ilmu</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Daftar Bank Ilmu</h5>
                        @using (Html.BeginForm("RegisterSubmit", "User", FormMethod.Post))
                        {
                            <div class="form-label-group">
                                <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required>
                                <label for="inputUsername">Username</label>
                                @Html.ValidationMessageFor(Model => Model.username, "", new { @class= "text-danger"})
                            </div>

                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Alamat Email" name="email" required>
                                <label for="inputEmail">Alamat Email</label>
                                @Html.ValidationMessageFor(Model => Model.email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
                                <label for="inputPassword">Password</label>
                                @Html.ValidationMessageFor(Model => Model.password, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-label-group mb-5">
                                <input type="password" id="inputRePassword" class="form-control" placeholder="Masukkan password ulang" name="rePassword" required>
                                <label for="inputRePassword">Masukkan password ulang</label>
                                @Html.ValidationMessageFor(Model => Model.rePassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="text-danger text-center mb-2">@ViewBag.response</div>
                            <input class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Daftar">
                        }

                    <p class="text-center mt-4 mb-0">Sudah terdaftar? @Html.ActionLink("Login", "Login", "User")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
