
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Beranda";
}
<div class="card rounded-lg mb-4" style="max-height: 200px;">
    <img src="https://www.endocreative.com/wp-content/uploads/2014/11/banner-772x250.png" class="card-img-top rounded-lg" alt="Cover photo" style="max-height: 200px; object-fit: cover;" />
</div>
<div class="shadow-sm p-3 mb-5 bg-white rounded border rounded-lg align-self-start d-flex">
    <div>
        <i class="fas fa-user-circle fa-3x"></i> <!--user image here-->
    </div>
    <div class="ml-3 flex-grow-1">
        @using (Html.BeginForm("Post", "Content", FormMethod.Post))
        {
            <div class="form-group">
                <label for="judul">Judul</label>
                <input type="text" class="form-control" name="title" id="judul" style="resize: none;">
            </div>
            <div class="form-group">
                <label for="deskripsi">Deskripsi</label>
                <textarea class="form-control" name="description" id="deskripsi" style="resize: none;"></textarea>
            </div>
            <div class="form-group">
                <label for="link">Link ke materi/artikel/website</label>
                <input type="text" class="form-control" name="link" id="link" style="resize: none;">
            </div>
            <input class="btn btn-primary mt-2" type="submit" value="Unggah">
        }
        </div>
</div>

<!--loop content here-->
@if (ViewBag.data != null)
{
    for (int i = 0; i < ViewBag.data.Count; i++)
    {
        <div class="card rounded-lg my-4">
            <div class="d-flex align-items-center p-3">
                <div>
                    <i class="fas fa-user-circle fa-3x"></i> <!--Use image-->
                </div>
                <div class="ml-3">
                    <span>@ViewBag.data[i].author</span><br />
                    <span class="text-muted">@ViewBag.data[i].timestamp</span>
                </div>
                <div class="dropdown ml-auto">
                    <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Unduh</a>
                        <a class="dropdown-item" href="#">Sunting</a>
                        <a class="dropdown-item" href="#">Hapus</a>
                    </div>
                </div>
            </div>
            <div class="pt-2 px-3">
                <strong> @ViewBag.data[i].title</strong>
                <br />
                <p>@ViewBag.data[i].description</p>
                <br />
                <p>@Html.ActionLink("Link web", "Click", "Content", new { link = ViewBag.data[i].link }, null)</p>
                <div class="d-flex align-items-center mt-1">
                    <div class="mr-3">
                        <a href="@Url.Action("Like", "Interaction", new { contentid = ViewBag.data[i].postid })"><i class="fas fa-thumbs-up"></i></a> @ViewBag.data[i].likecount
                    </div>
                    <div class="mr-3">
                        <i class="fas fa-eye"></i> @ViewBag.data[i].downloadcount
                    </div>
                    <div>
                        <a href="@Url.Action("Share", "Interaction", new { contentid = ViewBag.data[i].postid })"><i class="fas fa-share-alt"></i></a> @ViewBag.data[i].sharecount
                    </div>
                </div>
            </div>
            <hr />
            <div class="px-3 d-flex pb-3 align-items-center">
                <div>
                    <i class="fas fa-user-circle fa-3x"></i> <!--Use image-->
                </div>
                @using(Html.BeginForm("comment", "Interaction", new { cententid = ViewBag.data[i].postid }, FormMethod.Post, new { @class="flex-fill"}))
                {
                    <div class="input-group ml-3">
                        <textarea class="form-control" placeholder="Komentar" aria-label="Komentar" aria-describedby="button-addon" style="height: 38px;"></textarea>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                                <i class="fas fa-chevron-circle-right"></i>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}